/** Font Imports **/
@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuil.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuili.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuisl.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuisli.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeui.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuii.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuisb.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuisbi.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuib.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuiz.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuibl.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoeuibli.ttf');
  font-weight: 700;
  font-style: italic;
}

/** Ionic CSS Variables **/
:root {
  /** Colors **/
  --ion-color-primary: #118AB2;
  --ion-color-primary-rgb: 17,138,178;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0f799d;
  --ion-color-primary-tint: #2996ba;

  --ion-color-secondary: #073B4C;
  --ion-color-secondary-rgb: 7,59,76;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #063443;
  --ion-color-secondary-tint: #204f5e;

  --ion-color-tertiary: #4F86C6;
  --ion-color-tertiary-rgb: 79,134,198;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4676ae;
  --ion-color-tertiary-tint: #6192cc;

  --ion-color-success: #06D6A0;
  --ion-color-success-rgb: 6,214,160;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #05bc8d;
  --ion-color-success-tint: #1fdaaa;

  --ion-color-warning: #FFD166;
  --ion-color-warning-rgb: 255,209,102;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b85a;
  --ion-color-warning-tint: #ffd675;

  --ion-color-danger: #EF476F;
  --ion-color-danger-rgb: 239,71,111;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d23e62;
  --ion-color-danger-tint: #f1597d;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #CCCCCC;
  --ion-color-medium-rgb: 204,204,204;
  --ion-color-medium-contrast: #222428;
  --ion-color-medium-contrast-rgb: 34,34,34;
  --ion-color-medium-shade: #b4b4b4;
  --ion-color-medium-tint: #d1d1d1;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Fonts **/
  --ion-font-family: 'Segoe UI';
  --ion-default-font: var(--ion-font-family);

  /** Spacing **/
  --ion-statusbar-padding: 20px;

}

* {
  letter-spacing: 0.3px;
}

ion-toolbar {
  padding-top: 20px !important;
}

ion-title {
  font-weight: 300;
  font-size: 23px;
}

ion-button {
  --border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
}

h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
  font-weight: 400;
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  font-weight: 300;
}

ion-card {
  border-radius: 0px !important;
  ion-card-title, ion-card-subtitle {
    font-weight: 600 !important;
  }
}
