<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      EnabledBanking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-button color="primary" expand="block" size="large">Primary</ion-button>
    <ion-button color="secondary" expand="block" size="large">Secondary</ion-button>
    <ion-button color="tertiary" expand="block" size="large">Tertiary</ion-button>
    <ion-button color="success" expand="block" size="large">Success</ion-button>
    <ion-button color="warning" expand="block" size="large">Warning</ion-button>
    <ion-button color="danger" expand="block" size="large">Danger</ion-button>
    <ion-button color="light" expand="block" size="large">Light</ion-button>
    <ion-button color="medium" expand="block" size="large">Medium</ion-button>
    <ion-button color="dark" expand="block" size="large">Dark</ion-button>

  </div>
</ion-content>
