<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      EnabledBanking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="content">
      <h1 class="normal">Good {{greeting}},</h1>
      <h3 class="light">Please Authenticate Yourself</h3>
      <div class="icons">
        <a [routerLink]="['/main']"><img src="../assets/custom-icon/fingerprint.png" /></a>
        <a [routerLink]="['/main']"><img src="../assets/custom-icon/voice-auth.png" /></a>
        <a [routerLink]="['/main']"><img src="../assets/custom-icon/face-id.png" /></a>
      </div>
    </div>
    <a href="#" class="help-link">Help Me</a>
  </div>
</ion-content>
