<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      EnabledBanking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-button color="primary" expand="block">Primary</ion-button>
    <ion-button color="secondary" expand="block">Secondary</ion-button>
    <ion-button color="tertiary" expand="block">Tertiary</ion-button>
    <ion-button color="success" expand="block">Success</ion-button>
    <ion-button color="warning" expand="block">Warning</ion-button>
    <ion-button color="danger" expand="block">Danger</ion-button>
    <ion-button color="light" expand="block">Light</ion-button>
    <ion-button color="medium" expand="block">Medium</ion-button>
    <ion-button color="dark" expand="block">Dark</ion-button>

  </div>
</ion-content>
